body {
        margin: 0;
        font-family: poppins, sans-serif;
        background: linear-gradient(to bottom right, #080808, #070707);
        color: #d0bfbf;
    }


    header {
        text-align: center;
        padding: 50px 20px;
    }


    header h1 {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }


    header p {
        font-size: 1.2rem;
        color: #c2bec5
    }


    section {
        text-align: left;
        padding: 10px 25px;
        max-width: 1000px;
        margin: auto;
    }

    h2 {
        border-bottom: 2px solid #c2bec5;
        padding-bottom: 8px;
        margin-bottom: 20px;
        color: #929fad;
    }

    ul {
        list-style: none;
        padding: 0;
    }


    li {
        margin-bottom: 10px;
        font-size: 1.1rem;
    }


    /* Gallery Row Layout */
    .gallery {
        display: flex;
        gap: 20px;
        /*justify-content: center;*/
        flex-wrap: wrap;
        margin-top: 40px;
    }

    .top-container {
        justify-content: center;
        display: flex;
        max-width: 100%;
        height: auto;
        padding: 0px;
        padding-bottom: 20px;
    }

    .about-text {
        font-family: 'Poppins', sans-serif;
        font-size: 1.6rem;
        line-height: 1.6;
        min-width: 250px;
        overflow: hidden;
    }

    .about-text img {
        height: 40px;
        width: 40px;
    }


    .order-box {
        font-family: poppins;
        text-align: center;
        flex: 1 1 220px;
        max-width: 500px;
    }


    .gallery img {
        width: 100%;
        max-width: 250px;
        height: auto;
        aspect-ratio: 2 / 3;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s;
        cursor: pointer;
    }


    .gallery img:hover {
        transform: scale(1.05);
    }


    a button {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        background-color: #929fad;
        color: white;
        cursor: pointer;
        transition: 0.3s;
    }

    a button:hover {
        background-color: #ce1c37;
    }

    /* Responsive Layout */
    @media (max-width: 900px) {
        .gallery {
            justify-content: center;
        }
        .order-box {
            flex: 1 1 45%; /* 2 per row */
        }
    }


    @media (max-width: 500px) {
        .order-box {
            flex: 1 1 100%; /* 1 per row */
        }
    }

    .collection {
         font-family: 'Poppins', sans-serif;
    }
    .headline {
        line-height: 1.5
    }